<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metisMenu.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>