<% include partials/head.ejs %>

<div id="wrapper">
    <% include partials/top-nav.ejs %>
    <% include partials/side-nav.ejs %>

    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>An error has occured</h2>
                    <p>Ruh roh! Please try again...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
